/*=================== custo button rule start ====================*/
.button {
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: 30px;
  color: $title-color;
  font-weight: 500;
  padding: 12px 50px;
  background: $primary-color;
  color: #fff;
  transition: all .4s ease;

  @media(max-width: 767px) {
    padding: 8px 25px !important;
  }

  &-subscribe {
    // background: transparent;
    font-size: 14px;
    padding: 10px 20px;

    @media(min-width: 800px) {
      padding: 12px 35px;
      font-size: 15px;
    }
  }

  &-blog {
    padding: 5px 31px;
    font-size: 14px;
    background: #f9f9ff;
    border-color: #EEEEEE;
    border-radius: 0;
    color: $title-color;

    &:hover {
      background: $primary-color !important;
      color: #fff !important;
    }
  }

  &-postComment {
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
  }

  &-contact {
    border-radius: 0;
    padding: 12px 26px;
  }

  &-tracking {
    font-size: 14px;
    padding: 8px 42px;
  }

  &-login {
    font-size: 15px;
    padding: 7px 44px;
  }


  &-coupon {
    font-size: 15px;
    padding: 6px 45px;
  }

  &-paypal {
    width: 100%;
    padding: 8px 30px;
  }

  &-account {
    padding: 7px 42px;
    background: transparent;
    border-color: #fff;

    &:hover {
      border-color: #fff !important;
    }
  }

  &-header {
    padding: 10px 45px;
    background: transparent;
    color: $title-color;
    border-color: #EEEEEE;
  }

  &-hero {
    padding: 12px 41px;
  }

  &--active {
    background: $primary-color;
    color: #fff;
  }

  &-contactForm {
    border: 1px solid $primary-color !important;
    border-radius: 0;
    padding: 11px 26px;
  }

  &-review {
    padding: 12px 40px;
    border-radius: 30px;
  }

  &:hover {
    border-color: $primary-color;
    background: transparent;
    color: $title-color;
  }

  &-register {
    font-size: 14px;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-transform: uppercase;
    background: #c5322d;

    &:hover {
      background: #c5322d;
      opacity: .7;
      color: #fff;
    }
  }
}


//=====Drop Down=====//
.sortBtn {
  color: $white;
  font-family: $title-font;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  margin-bottom: -25px;
  padding-bottom: 25px;


  .sort_label {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: $secondary-red;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;

    i.fa-chevron-down {
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      font-size: 11px;
      margin-left: 8px;
    }
  }

  .sort_list {
    position: absolute;
    background-color: $white;
    max-height: 280px;
    overflow-y: auto;
    width: 100%;
    display: none;
    top: 100%;
    padding: 15px 0;
    font-family: $text-font;
    -webkit-box-shadow: $sortBtn-shadow;
    -moz-box-shadow: $sortBtn-shadow;
    box-shadow: $sortBtn-shadow;

    li {
      a {
        color: $light-grey;
        display: block;
        padding: 13px 20px;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
      }

      &:hover {
        a {
          color: $focused-grey;
          -webkit-box-shadow: $sortBtn-shadow;
          -moz-box-shadow: $sortBtn-shadow;
          box-shadow: $sortBtn-shadow;
        }
      }
    }
  }
}

.sortBtn.open {
  .sort_list {
    display: block;
  }

  i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  z-index: 3;
}

//===Circle button===//
//---Works only inside of a HTML tag---//
a {
  %circleBtn {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    font-size: 18px;
    transition: .2s;
    color: #1A1818;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover %circleBtn {
    border-color: $secondary-red;
    background-color: $secondary-red;

    &::before {
      color: $white;
    }
  }
}

.slider-nav {
  display: inline-flex;
  align-items: center;
  color: $black;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    color: $black;
  }

  i {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    font-size: 18px;
    transition: .2s;
    color: #1A1818;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &:hover {
    i {
      border-color: $secondary-red;
      background-color: $secondary-red;

      &::before {
        color: $white;
      }
    }
  }
}

._w {
  .slider-nav {
    color: $white;

    i {
      border: 1px solid $white;
      color: $white;
    }

    &:hover {
      color: $white;

      i {
        border-color: $white;
        background-color: $white;

        &::before {
          color: $black;
        }
      }
    }
  }
}

._b {
  .slider-nav {
    color: $white;

    i {
      border: 1px solid #363636;
      color: $black;
    }

    &:hover {
      color: $white;

      i {
        border-color: #363636;
        background-color: #363636;

        &::before {
          color: $white;
        }
      }
    }
  }
}

//===Circle button ends===//
.rMore {
  a {
    margin-right: 0;
    margin-bottom: 40px;
    margin-top: 20px;

    i {
      margin-right: 20px;
      background-color: $white;
      border-color: #EBEBEB;
      font-size: 15px;
    }

    &:hover {
      i {
        background-color: #EBEBEB;
        border-color: #EBEBEB;

        &::before {
          color: $black;
        }
      }
    }
  }
}

.sortBtn {
  &.custom {
    padding-bottom: 15px;
    width: 220px;
    border-radius: 0;
    margin-bottom: 0;

    i {
      position: absolute;
      right: 20px;
    }

    .sort_label {
      border-radius: 0;
      padding-right: 30px;
      line-height: 55px;
      color: $relaxed-grey;
      background-color: transparent;
      border: 2px solid $relaxed-grey;
    }

    &:hover {
      .sort_label {
        color: $focused-grey;
        border-color: $focused-grey;
      }
    }

    &.open {
      .sort_label {
        color: $primary-red;
        border-color: $primary-red;
      }
    }
  }
}

@media (max-width: 991px) {
  .sortBtn {
    &.custom {
      font-size: 13px;
      width: 200px;
      .sort_label{
        line-height: 50px;
      }
    }
  }
  .header_area {
    .navbar {
      ul {
        .nav-link {
          padding-left: 0;
        }
      }
    }
  }
  .sortBtn {
    padding-bottom: 5px;
  }
  .rMore {
    a {
      margin-bottom: 20px;
    }
  }
}
