//=====footer=====//
.footer{
  padding: 20px 0px;
  background-color: $primary-red;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      align-items: center;
    }
  }
  .navbar-brand{
    &.logo{
      background-image: url("../img/logo-w.svg");
      margin-right: 50px;
    }
  }
  a{
    color: $white;
    font-family: $text-font;
  }
  i{
    font-size: 18px;
  }
  .links{
    flex-wrap: wrap;
    li{
      margin: 0 30px;
    }
  }
  .socials{
    li{
      margin: 0 15px;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    };
  }
}
//=====footer ends=====//
