@keyframes scroll {
  from {
    transform: translateY(-100%)
  }
  to {
    transform: translateY(0)
  }
}

.navbar-brand {
  &.logo {
    width: 120px;
    height: 71px;
    background-image: url(../img/logo.svg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.navbar {
  &._resp {
    display: none;
  }
}

.hamburger {
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;

  span {
    width: 100%;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    background-color: $text-color;

    &:nth-child(0) {
      top: 0;
    }

    &:nth-child(1) {
      top: 8px;
    }

    &:nth-child(2) {
      bottom: 0;
    }
  }
}

.header_area {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  background-color: $white;
  transition: .2s;

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.scroll {
    position: fixed;
    animation: scroll .2s 1;
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.55);

    .navbar-brand {
      height: 55px;
      width: 85px;
    }
  }
  .usr{
    transition: .2s;
    &:hover{
      background-color: $primary-color;
    }
  }
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;

  ul {
    .nav-link {
      color: $title-color;
      font-size: 16px;
      &:hover{
        color: $primary-red;
      }
    }
  }
}

.langBtn {
  color: $relaxed-grey;
  margin-left: 28px;

  .sort_label {
    font-size: 12px;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  i {
    color: $light-grey;

    &.fa-globe-europe {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

.header_area {
  &.custom {
    background-color: transparent;
    &.scroll{
      background-color: $white;
    }
    .navbar-brand {
      &.logo {
        background-image: url(../img/logo-w.svg);
      }
    }

    .navbar {
      ul {
        .nav-link {
          color: $white;
        }
      }
    }

    .langBtn {
      color: $white;

      i {
        color: $white;
      }
    }

    &.scroll {
      .navbar-brand {
        &.logo {
          background-image: url(../img/logo.svg);
        }
      }

      .navbar {
        ul {
          .nav-link {
            color: $title-color;
          }
        }
      }

      .langBtn {
        color: $relaxed-grey;

        i {
          color: $light-grey;
        }
      }
    }
  }
}
.dropdown-control{
  position: relative;
  .nav-dropdown{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 15px 0;
    display: none;
    font-family: Helvetica-geo-roman;
    box-shadow: 0 0 20px rgba(172,182,202,.25);
    li{
      a{
        color: $title-color;
        display: block;
        padding: 13px 20px;
        transition: .2s;
        &.active{
          color: #9da9be;
          &:hover{
            color: #9da9be;
            box-shadow: unset;
          }
        }
      }
      &:hover{
        a{
          color: $primary-red;
          box-shadow: 0 0 20px rgba(172,182,202,.25);
        }
      }
    }
  }
  &:hover{
    .nav-dropdown{
      display: block;
    }
  }
}

@media (max-width: 992px){
  .dropdown-control{
    .nav-dropdown{
      position: static;
      display: block;
      padding: 0;
      margin-bottom: 0!important;
      box-shadow: unset;
      li{
        a{
          color: $primary-red;
          padding: 0 1rem;
          text-align: right;
          &:hover{
            box-shadow: unset;
          }
        };
      }
    }
  }
}
