.top-section {
  padding-top: 110px;

  .title-lg {
    margin-top: 100px;
    margin-bottom: 100px;

    span {
      color: $secondary-red;
    }
  }
}

.experiences-section {
  padding: 100px 0 45px 0;
  .social-box{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
  }
  .title-md {
    margin-bottom: 50px;
  }
}
.custom-navtabs{
  .nav-tabs {
    max-width: 800px;
    display: inline-flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #F7F7F7;
    .nav-link {
      background-color: transparent;
      display: flex;
      align-items: center;
      font-family: $text-font;
      color: #1D2319;
      span{
        font-size: 20px;
        font-family: $title-font;
        color: $primary-grey;
        margin-right: 40px;
      }
      &.active{
        color: $primary-red;
        border-bottom: 1px solid $primary-red;
        font-family: $title-font;
        span{
          color: $secondary-red;
        }
      }
      p {
        margin: 0;
        line-height: 1.5;
      }
    }
  }
}
.gr-bg{
  background: #F7F7F7;
}
.places-to-visit{
  .describtion{
    max-width: 480px;
    margin-left: 3px;
  }
  .text-sm{
    color: $white;
  }
  .title-md{
    color: $white;
  }
  .number-sm{
    color: #97222C;
  }
  ._ex-row{
    padding: 0 100px;
    justify-content: flex-start;
  }
  margin-bottom: 60px;
  .places-bg{
    height: 420px;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 40px 0;
    background-position: center;
    img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      display: none;
    }
  }
  .places-slider{
    padding: 100px 90px;
    height: 100%;
    position: relative;
    background-color: $secondary-red;
    background-image: url(../img/places-path.png);
    background-position: right -430px top -220px;
    .slider-controls-container{
      bottom: 40px;
      max-width: 480px;
      left: 90px;
      width: 70%;
    }
  }
}
.stories{
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 0;
  .stories-bg{
    max-width: 400px;
  }
  .title-md{
    color: $title-color;
    margin-bottom: 65px;
    margin-top: -100px;
  }
  .places-slider{
    min-height: 300px;
    padding-top: 40px;
    background-color: transparent;
    background-image: unset;
  }
  .text{
    color: $text-color;
  }
  .stories-logo{
    max-width: 160px;
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
}
.explore-section{
  .mCSB_inside>.mCSB_container{
    margin-right: 50px;
  }
  padding-bottom: 20px;
  position: relative;
  padding-top: 80px;
  .tab-pane{
    max-height: 440px;
  }
  .tab-content{
    padding: 0;
  }
  .title-md{
    margin-bottom: 55px;
  }
  .nav-tabs{
    margin-bottom: 50px;
    max-width: unset;
    width: 100%;
    justify-content: space-between;
    padding-right:20px;
  }
  .favorite-box{
    .link{
      a{
        margin-top: 20px;
      }
    }
    .photo{
      position: relative;
      .viewBtn{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 14px 28px;
        border-radius: 6px;
        background-color: $white;
        font-size: 12px;
        color: #343434;
        font-family: $title-font;
        white-space: nowrap;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        text-align: center;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: .2s;
      }
      &:hover{
        .viewBtn{
          opacity: 1;
        }
      }
    }
  }
}
.mCS-explore-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: $primary-red;
  width: 4px;
}
.mCS-explore-theme.mCSB_scrollTools .mCSB_draggerRail{
  background-color: #eee;
  width: 4px;
}
.explore-map{
  position: relative;
  right: 0;
  top: 0;
  height: 380px;
}
.header-banner{
  background-color: $black;
  height: 400px;
  overflow: hidden;
  position: relative;
  .container{
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 27px;
  }
  .title-lg{
    max-width: 50%;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .6;
  }
}
.slider-section{
  &.inner{
    position: relative;
    margin-top: -90px;
    .slider-controls-container{
      bottom: 60px;
    }
    .photo{
      margin-top: -90px;
      height: auto;
    }
    .describtion{
      padding-top: 35px;
      padding-bottom: 60px;
    }
  }
  ._inner{
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
.traditions-section{
  margin-top: 100px;
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative;
  .photo{
    width: 418px;
    height: 290px;
    margin-right: -55px;
    img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .bg-element{
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 285px;
    background-color:$primary-red;
  }
  .title-md{
    margin-top: 35px;
    margin-bottom: 55px;
    color: $white;
  }
}


.explore-more{
  padding: 80px 0 100px 0;
  .title-md{
    margin-bottom: 0;
  }
  a{
    text-transform: uppercase;
    color: $primary-red;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    margin-top: 25px;
    letter-spacing: 2px;
    i{
      margin-left: 16px;
      font-size: 20px;
      transition: .2s;
    }
    &:hover{
      i{
        transform: translateX(3px);
      }
    }
  }
}
.slider-section{
  &._bottom{
    padding-top: 70px;
    .bg-element{
      position: absolute;
      top: 0;
      right: 0;
      width: 38%;
      height: 440px;
      background-color: $primary-red;

    }
  }
}
.photo-slider{
  position: relative;
  padding-bottom: 60px;
  margin-top: -150px;
  z-index: 3;
  .photo{
    width: 100%;
    height: 560px;
    padding-bottom: 20px;
    img{
      height: 100%;
    }
  }
  .social-box{
    position: absolute;
    margin-top: 20px;
    right: 100%;
  }
}
.social-box{
  background-color: $white;
  display: inline-flex;
  align-items: center;
  padding: 30px 20px;
  a{
    color: #494949;
    display: flex;
    align-items: center;
    margin: 0 10px;
    white-space: nowrap;
    i{
      font-size: 20px;
      &.fas{
        color: $primary-red;
      }
      &.fa-facebook{
        &:hover{
          color: #3A559F;
        }
      }
      &.fa-twitter{
        &:hover{
          color: #55ADEC;
        }
      }
      &.far{
        &:hover{
          color: $primary-red;
        }
      }
    }
  }
}
.box-slider-section{
  .review-box{
    padding: 30px;
    min-height: 150px;
    background-color: #F9FBFD;
    background-image: url(../img/review-bg.png);
    background-position: right -50px top -80px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    .autor{
      margin-bottom: 20px;
      .title{
        color: #283240;
        font-size: 16px;
      }
      .date{
        color: #A7AFBF;
        font-size: 14px;
      }
    }
    .avatar{
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      overflow: hidden;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .info-box{
    height: 330px;
    position: relative;
    margin-right: 30px;
    .photo{
      height: 100%;
      width: 100%;
      background-color: $black;
      img{
        width: 100%;
        height: 100%;
        opacity: .6;
        object-fit: cover;
        object-position: center;
      }
    }
    .title{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px 30px;
      color: $white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      font-size: 12px;
      letter-spacing: 2px;
      i{
        font-size: 16px;
        margin-left: 18px;
        opacity: 0;
        transition: .2s;
      }
    }
    &:hover{
      .title{
        i{
          opacity: 1;
        }
      }
    }
  }
  .title-section{
    margin-bottom: 55px;
  }
  .box-slider{
    position: relative;
    overflow: hidden;
    .slider-nav{
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      i{
        background-color: #EBEBEB;
        color: #363636;
        border-color: #EBEBEB;
        &:hover{
          border-color: #363636;
          background-color: #363636;
          color: $white;
        }
      }
    }
  }
  .slider-wrapper{
    margin-right: -30%;
  }
}
.destination-map{
  height: 360px;
}
.ex_wrapper{
  display: flex;
  justify-content: space-between;
}
.map{
  background-color: #8fbfe6;
}
.experiences-map{
  height: 530px;
}
.map-section{
  margin-top: 50px;
  margin-bottom: 40px;
  .bg-element{
    padding-left: 19%;
    padding-top: 50px;
    height: 280px;
    width: 50%;
    margin-bottom: -350px;
    background-color: $secondary-red;
    position: relative;
    z-index: 2;
    h2{
      color:$white;
      margin-bottom: 55px;
    }
    .photo{
      width: 418px;
      height: 290px;
      margin-left: 35%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.tours-section{
  .tours-sort{
    display: flex;
    padding: 50px 0 35px 0;
    .sortBtn{
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .tour-box{
    display: block;
    height: 500px;
    position: relative;
    margin-bottom: 55px;
    .photo{
      width: 100%;
      height: 100%;
      background-color: $black;
      img{
        opacity: .8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .tour-details{
      position: absolute;
      width: 50%;
      background-color: $white;
      bottom: 0;
      left: 0;
      color: $title-color;
      i{
        color: #B7B7B7;
        transition: .2s;
        font-size: 24px;
        margin-right: 10px;
      }
      .days{
        color: #B7B7B7;
        font-size: 18px;
        font-family: $title-font;
        padding: 20px 0 10px 0;
        text-transform: uppercase;
      }
      .title-sm{
        line-height: 1.2;
        margin-bottom: 20px;
        transition: .2s;
      }
      .main{
        color: #B7B7B7;
      }
      .additional{
        font-family: $title-font;
      }
    }
    .read{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      display: flex;
      justify-content: center;
      padding: 30px 0;
      opacity: 0;
      transition: .2s;
      a{
        i{
          background-color: $secondary-red;
          color: $white;
          border-color: $secondary-red;
        }
        span{
          color: $white;
        }
      }
    }
    &:hover{
      .title-sm{
        color: $primary-red;
      }
      i{
        color: $primary-red;
      }
      .read{
        opacity: 1;
      }
    }
  }
}
.tour-details-inner{
  .align-items-center{
    &:first-child{
      margin-right: 50px;
    }
  }
  padding: 20px 0;
  i{
    color: $primary-red;
    font-size: 40px;
    margin-right: 20px;
  }
  .text-sm{
    color: #B7B7B7;
    b{
      font-size: 16px;
      font-family: $title-font;
      margin-top: 10px;
      color: $title-color;
    }
  }
}
.stories-section{
  margin-bottom: 65px;
}
.stories-slider{
  .describtion{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 100%;
      right: 0;
      width: 120px;
      height: 105px;
      background-image: url(../img/cuote.png);
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
    }
  }
  margin-top: -180px;
  .photo{
    height: 675px;
  }
  .title-lg{
    color: $white;
    margin-bottom: 100px;
    position: relative;
    min-height: 120px;
  }
}
