@media (max-width: 1200px) {
  .map-section{
    .bg-element{
      padding-left: 10%;
      height: 240px;
      margin-bottom: -290px;
      h2{
        margin-bottom: 30px;
      }
      .photo{
        width: 338px;
        height: 210px;
      }
    }
  }
  .ex_wrapper {
    flex-direction: column;

    .sortBtn {
      &.custom {
        margin-top: 20px;
      }
    }
  }
  .photo-slider {
    .social-box {
      position: static;
      width: calc(100% - 3px);
    }
  }
  .header-banner {
    height: 350px;
  }
  .slider-section {
    &.inner {
      margin-top: 0;

      .photo {
        margin-top: 35px;
      }
    }

    ._inner {
      padding-top: 0px;
    }
  }
  .places-to-visit {
    .places-slider {
      background-position: right -610px top -240px;
      padding: 80px 60px;

      .slider-controls-container {
        width: 80%;
        left: 60px;
      }
    }
  }
}

@media (max-width: 991px) {
  .stories-slider{
    .describtion{
      &::after{
        width: 80px;
        height: 70px;
      }
    }
    .title-lg{
      margin-top: 40px;
      margin-bottom: 60px;
    }
    .photo{
      height: 440px;
      margin-bottom: 60px;
    }
    .row{
      flex-direction: column-reverse;
    }
  }
  .tours-section{
    .tours-sort{
      justify-content: space-between;
      .sortBtn{
        margin-right: 0;
      }
    }
    .tour-box{
      height: auto;
      .photo{
        height: 250px;
      }
      .tour-details{
        width: 100%;
        position: static;
      }
      .read{
        display: none;
      }
    }
  }
  .experiences-map{
    height: 340px;
  }
  .map-section{
    margin-top: 0;
    .bg-element{
      max-width: 690px;
      margin: 0 auto;
      padding: 20px 30px;
      height: auto;
      width: 100%;
      h2{
        margin-bottom: 0px;
      }
      .photo{
        display: none;
      }
    }
  }
  .destination-map {
    height: 300px;
  }
  .box-slider-section {
    .custom-navtabs {
      .nav-tabs {
        margin-top: 20px;

        .nav-link {
          span {
            margin-right: 10px;
            font-family: $title-font;
          }
        }
      }
    }

    .title-section {
      flex-direction: column;
      margin-bottom: 25px;
    }

    .box-slider {
      .slider-nav {
        right: 15px;
      }
    }

    .slider-wrapper {
      margin-right: -20%;
    }
  }
  .header-banner {
    .title-lg {
      max-width: 100%;
    }
  }
  .photo-slider {
    margin-top: 0px;

    .photo {
      height: 360px;
      text-align: center;
    }
  }
  .traditions-section {
    margin-top: 50px;
    padding-bottom: 0;

    .description {
      padding: 40px 30px;
      background-color: $primary-red;
      color: $white;

      .title-sm {
        color: $white;
      }
    }

    margin-top: 0;
    padding-top: 0;

    .bg-element {
      display: none;
    }

    .title-md {
      color: $title-color;
      margin-bottom: 40px;
      max-width: 500px;
      margin-top: 0;
    }

    .photo {
      margin-bottom: 0px;
      width: 100%;
    }
  }
  .slider-section {
    &._bottom {
      padding-bottom: 60px;
      padding-top: 20px;

      .photo {
        margin-top: 35px;
      }

      .bg-element {
        display: none;
      }
    }
  }
  .slider-section {
    &.inner {
      padding-bottom: 60px;
      margin-bottom: 20px;

      .photo {
        height: 350px;
      }

      .describtion {
        padding-bottom: 0;
      }
    }
  }
  .header-banner {
    height: 300px;
  }
  .explore-map {
    max-width: 690px;
    margin: 0 auto;
  }
  .explore-section {
    .tab-pane {
      margin-bottom: 30px;
    }
  }
  .places-to-visit {
    .describtion {
      margin: 3px auto;
      padding-left: 3px;
    }

    .places-bg {
      //display: none;
      height: 250px;
      margin-bottom: 0;

    }

    .places-slider {
      padding: 100px 20px;

      .slider-controls-container {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 15px;
      }
    }
  }
  .stories {
    .stories-logo {
      max-width: 120px;
    }

    .stories-bg {
      max-width: unset;
      width: 100%;
      padding: 0 25px;

      img {
        display: none;
      }
    }

    .title-md {
      margin: 3px auto;
      max-width: 480px;
    }

    .places-slider {
      padding-top: 40px;
    }
  }
  .experiences-section {
    padding: 60px 0 30px 0;

    .tab-content {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .nav-tabs {
      .nav-link {
        span {
          margin-right: 10px;
        }
      }
    }
  }
  .top-section {
    padding-top: 80px;

    .title-lg {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .header_area {
    &.custom {
      background-color: $white;

      .navbar-brand {
        &.logo {
          background-image: url(../img/logo.svg);
        }
      }

      .navbar {
        ul {
          .nav-link {
            color: $title-color;
          }
        }
      }

      .langBtn {
        color: $relaxed-grey;

        i {
          color: $light-grey;
        }
      }
    }
  }

  .footer {
    .container {
      flex-direction: column;
    }

    .left {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-brand {
      &.logo {
        margin-right: -20px;
        margin-bottom: 15px;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      width: 100%;

      li {
        margin: 10px;
      }
    }

    .socials {
      margin-top: 15px;
    }
  }

  .navbar {
    &._resp {
      display: flex;

      .navbar-brand {
        height: 50px;
      }
    }
  }

  .navbar:not(._resp) {
    flex-direction: column;
    top: 0;
    z-index: 2;
    background: #fff;
    right: 0;
    height: 0px;
    padding: 0;
    overflow: hidden;

    &.active {
      padding: 15px;
      height: auto;
      box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
    }

    .sortBtn {
      font-size: 12px;
    }

    .langBtn {
      margin-left: 10px;

      .sort_label {
        padding-right: 0;
        font-size: 11px;
      }
    }

    ._resp {
      align-items: flex-start !important;
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;

      .logo {
        display: none;
      }

      ul:first-child {
        flex-direction: column;
        align-items: flex-start !important;
      }

      ul:last-child {
        margin-bottom: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }

}

@media (max-width: 768px) {
  .tour-details-inner{
    .align-items-center{
      &:first-child{
        margin-right: 20px;
      }
    }
    i{
      font-size: 24px;
      margin-right: 10px;
    }
    .text-sm{
      line-height: 1;
      b{
        margin-top: 5px;
        font-size: 14px;
        display: block;
      }
    }
  }
  .tours-section{
    .tours-sort{
      flex-direction: column;
      .sortBtn{
        width: 100%;
      }
    }
  }
  .map-section{
    margin-bottom: 0;
    .bg-element{
      max-width: 510px;
    }
  }
  .box-slider-section {
    .slider-wrapper {
      margin-right: -15%;
    }
  }
  .explore-more {
    padding: 60px 0;
  }
  .header-banner {
    height: 250px;
  }
  .explore-section {
    .nav-tabs {
      .nav-link {
        span {
          margin-right: 10px;
        }
      }
    }
  }
  .explore-section {
    .mCSB_inside > .mCSB_container {
      margin-right: 30px;
    }
  }
  .experiences-section {
    .nav-tabs {
      display: flex;
      flex-direction: column;
    }

    .tab-content {
      padding-top: 0;
    }
  }
}
@media (max-width: 576px) {
  .experiences-map{
    margin-left: -15px;
    margin-right: -15px;
  }
  .map-section{
    padding: 0 15px;
    .bg-element{
      max-width: 100%;
    }
  }
}
@media (min-width: 992px) {
  .explore-map {
    position: absolute;
    width: 41.33%;
    height: 100%;
  }
  .georgia-img {
    left: -20%;
  }
  .navbar {
    ul {
      .nav-link {
        margin: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .explore-map {
    position: absolute;
    width: 42.33%;
    height: 100%;
  }
  .georgia-img {
    left: -13%;
  }
  .container {
    max-width: 1200px;
  }
  .navbar {
    ul {
      .nav-link {
        margin: 0 9px;
      }
    }
  }
}



