.slider-controls-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  left: 0;

  .slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .progress {
      width: 130px;
      height: 1px;
      background-color: $primary-grey;
      position: relative;
      z-index: 100;

      .progress-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 0;
        background-color: $black;
      }
    }
  }

  .navContainer {
    margin-right: 40px;
  }

  .dotsContainer {
    display: flex;

    button {
      width: 6px;
      height: 6px;
      background-color: $primary-grey;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: none;
      padding: 0;
      margin: 0 4px;

      &.active {
        background-color: $black;
      }
    }
  }
}
._w{
  .slider-controls{
    .progress{
      background-color: #F04E5C;
      .progress-bar{
        background-color: $white;
      }
    }
  }
  .dotsContainer{
    button{
      background-color: $white;
      opacity: .2;
      &.active{
        opacity: 1;
        background-color: $white;
      }
    }
  }
}
.slider-index {
  display: block;
  margin-bottom: 25px;
}
.slider-section {
  margin: 50px 0;
  position: relative;

  .photo {
    position: relative;
    max-width: 500px;
    height: 515px;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
  .title-sm {
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .slider-section {
    .photo{
      max-width: unset;
    }
    .title-sm {
      margin-bottom: 25px;
    }

    .photo {
      margin-bottom: 20px;
      height: 315px;
    }
  }
  .slider-controls-container {
    .navContainer {
      margin-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .slider-controls-container{
    .slider-controls{
      .progress{
        width: 80px;
      }
    }
  }
  .slider-section {
    .photo {
      height: 250px;
    }

    .navContainer {
      button {
        margin-right: 5px;
      }
    }

    .slider-controls-container {
      .slider-controls {
        .progress {
          width: 60px;
        }
      }
    }
  }
}
