.profile{
  margin-top: 110px;
  min-height: 75vh;
  border-top: 1px solid $darkWhite;
  &--title{
    padding: 50px 0 30px 0;
    a{
      color: $title-color;
      display: flex;
      align-items: center;
      i{
        color: $relaxed-grey;
        font-size: 1.5em;
        margin-right: 10px;
      }
    }
  }
  &--name{
    width: 100%;
    p{
      color: $extra-grey;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &--box{
    padding: 45px 35px;
    margin-bottom: 60px;
    border: 1px solid $darkWhite;

    .photo{
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 20px;
      background-color: #EEEEEE;
      background-image: url(../img/avatar.png);
      background-size: cover;
      img{
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
      }
    }
  }
  &--edit{
    a{
      color: $relaxed-grey;
      border:1px solid $light-grey;
      position: relative;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-bottom: 10px;
      i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 22px;
      }
    }
  }
}
.nav-tabs{
  border-bottom: 0;
  .nav-link{
    border:none;
    font-family: $title-font;
    font-size: 14px;
    color: $focused-grey;
    &.active{
      color: $primary-red;
    }
  }
}
.tab-content{
  padding-top: 50px;
  padding-bottom: 70px;
}
.favorite-box{
  position: relative;
  height: 320px;
  margin-bottom: 30px;
  border: 1px solid #EDF1F9;
  .photo{
    height: 200px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .link{
    padding: 18px 20px;
    h4{
      font-size: 12px;
      font-family: $title-font;
      text-transform: uppercase;
      margin: 0;
    }
    a{
      display: inline-flex;
      align-items: center;
      margin-top: 30px;
      color: $black;
      i{
        @extend %circleBtn;
        margin-right: 20px;
      }
    }
  }
}
.edit-image{
  border-right: 1px solid #EDF1F9;
  padding: 80px 0;
  flex-direction: column;
  text-align: center;
  .title-xs{
    &:nth-child(1){
      color: $secondary-red;
    }
    &:nth-child(2){
      color: $focused-grey;
    }
  }
  .photo{
    margin-right: 0;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
  }
}
.edit-buttons{
  margin-top: 10px;
}
.form-container{
  max-width: 460px;
  margin: 0 auto;
  ._flex{
    position: relative;
    .input-message{
      position: absolute;
      right: 0;
      bottom: -25px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      i{
        font-size: 16px;
        margin-right: 5px;
      }
      &.success{
        color: $input-green;
      }
      &.danger{
        color: $input-red;
      }
    }
  }
  label:not(.custom){
    border-bottom: 2px solid #F7F7F7;
    color: #858C98;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 0 5px;
    width: 150px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
  }
  input:not([type='checkbox']){
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 2px solid #D8D8D8;
    width: 100%;
    font-family: $title-font;
    outline: none;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    &:focus + label{
      color: #1D2319;
    }
    &.success{
      border-color: $input-green;
    }
    &.danger{
      border-color: $input-red;
    }
  }
  .buttons{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .text-sm{
      color: #ABB8C7;
      margin-right: 60px;
    }
    .redBtn{
      text-align: center;
      border-radius: 6px;
      border: none;
      color: $white;
      padding: 20px 60px;
      background-color: $secondary-red;
    }
    .grnBtn{
      @extend .redBtn;
      background-color: #3EC95F;
    }
  }
}
.login-container{
  position: relative;
  min-height: 100vh;
  height: 100vh;
  ._row{
    height: 100vh;
    min-height: 754px;
    align-items:center;
  }
  .bg-img{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    min-height: 754px;
    width: 50%;
    background-image: url('../img/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .additional-login{
    color: $medium-black;
    margin-top: 10px;
    margin-bottom: 40px;
    a{
      font-family: $title-font;
      color: $secondary-red;
    }
  }
  .t-grey{
    color: #7B8491;
  }
  .buttons{
    margin-top: 30px;
  }
  .red-link{
    text-decoration: underline;
    color: #1D2319;
    &:hover{
      text-decoration: none;
    }
  }
}
.login-check{
  display: flex;
  align-items: center;
  margin-bottom: 0;
  label{
    margin: 0 0 0 20px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::before{
      top: 50%;
      content: '';
      position: absolute;
      transform: translateY(-50%);
      left: -30px;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 2px solid #DEDEDE;
    }
    &::after{
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: -26px;
      transform: translateY(-50%);
    }
    .text-sm{
      color: $secondary-red;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  input{
    visibility: hidden;
    &:checked + label::after{
      background-color: $secondary-red;
    }
  }
}
.georgia-img{
  position: absolute;
  top: 45%;
  left: -10%;
  transform: translateY(-50%);
  .small{
    display: none;
  }
}

// 404 PAGE //
.page-404{
  min-height: 90vh;
  display: flex;
  align-items: center;
  img{
    width: 100%;
    padding: 20px;
  }
  ._wrapper{
    max-width: 380px;
    margin: 0 auto;
    padding-top: 35px;
    a{
      text-transform: uppercase;
      font-size: 12px;
      color: $secondary-red;
      display: flex;
      align-items: center;
      margin-top: 30px;
      i{
        font-size: 15px;
        margin-left: 13px;
        transition: .2s;
      }
      &:hover{
        i{
          margin-left: 16px;
        }
      }
    }
  }
}
// 404 PAGE END //





@media (max-width: 991px) {
  .georgia-img{
    position: relative;
    transform: none;
    left: 0;
    top: 0;
    margin-top: -50px;
    padding: 20px 0;
    .left{
      display: none;
    }
    .small{
      display: block;
    }
  }
  .login-container{
    ._row{
      min-height: unset;
    }
    .form-container{
      margin-top: 50px;
      margin-bottom: 30px;
      max-width: 380px;
    }
    .additional-login{
      margin-bottom: 0;
    }
  }
  .bg-img{
    display: none;
  }
  .form-container{
    .buttons{
      flex-direction: column-reverse;
      .text-sm{
        margin: 10px 0 0 0;
      }
    }
  }
  .edit-image{
    border-right: none;
    padding: 40px 0;
  }
  .profile{
    margin-top: 80px;
  }
  .favorites{
    .nav-tabs{
      justify-content: center;
    }
    ._title{
      flex-direction: column;
    }
    .title-md{
      margin-bottom: 20px!important;
    }
  }
}
@media (max-width: 767px) {
  .page-404{
    text-align: center;
    img{
      max-width: 300px;
    }
    a{
      justify-content: center;
    }
  }
  .profile--box{
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-container{
    ._flex{
      flex-direction: column-reverse!important;
      label{
        width: 100%;
        padding: 0;
        border-bottom: 0;
        margin-top: 20px;
      }
      input{
        padding-top: 0px;
        padding-bottom: 10px;
      }
    }
  }
  .profile{
    .marginer{
      .photo{
        margin-bottom: 10px;
        margin-right: 0;
      }
      margin-bottom: 20px;
      flex-direction: column;
      text-align: center;
    }
  }
}
