/*=================== font family ====================*/
$title-font: 'Helvetica-geo-bold';
$text-font: 'Helvetica-geo-roman';
$check-font: 'Proxima-nova-regular';
$sub-font: 'Proxima-nova-semibold';

/*=================== color variations ====================*/
$primary-color: #cf3438;
$primary-color-blurry: #cf575a;


$white: #fff;
$darkWhite: #eeeeee;
$black: #000;
$title-color: #060405;
$text-color: #060405;
$medium-black: #1D2319;
$primary-red: #EE2A3B;
$secondary-red: #EE3A49;
$primary-color-blurry: #cf575a;
$white: #ffffff;
  //---grey variation---//
$relaxed-grey: #878F9B;
$focused-grey: #6F7787;
$light-grey: #9DA9BE;
$primary-grey: #BBBDBA;
$extra-grey:#85909C;
$input-red: #ED1C24;
$input-green: #3EC95F;
$sortBtn-shadow: 0px 0px 20px rgba(172, 182, 202, .25);

/*=================== fonts ====================*/
@import "fonts";




