---
layout: default
title: Georgia Travel - Home
---
<div class="page-404">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="assets/img/404.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="_wrapper">
                    <h2 class="title-md">Sorry, but this page
                        wasn’t found</h2>
                    <a href="index.html">back to the home page <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

