---
layout: custom-navigation
title: Georgia Travel - About
---
<div class="header-banner">
    <img src="assets/img/about-georgia/about.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">About Georgia</h1>
    </div>
</div>
<section class="slider-section inner">
    <div class="slider-controls-container">
        <div class="container">
            <div class="row justify-content-lg-start">
                <div class="col-lg-5">
                    <div class="slider-controls">
                        <div class="d-flex align-items-center">
                            <div class="navContainer" data-target="#aboutSlider">
                                <a href="#!" class="slider-nav lArrow">
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                                <a href="#!" class="slider-nav rArrow">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" data-target="#aboutSlider"></div>
                            </div>
                        </div>
                        <div class="dotsContainer" data-target="#aboutSlider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="aboutSlider" class="owl-carousel owl-theme">
        <div class="item">
            <div class="container">
                <div class="row justify-content-between _inner">
                    <div class="col-md-12 col-lg-6">
                        <div class="describtion">
                            <span class="slider-index number-sm">01</span>
                            <h2 class="title-sm">Gastromony</h2>
                            <div class="text">
                                <p>
                                    Nothing tells you more about the spirit and culture of a
                                    country than its cuisine. Georgian national dishes are
                                    amongst the best in the world for their diversity and taste.
                                    Each historical province of the country has its own distinct
                                    culinary tradition that was refining for centuries. Especially
                                    distinguished and unique are Imeretian, Megrelian and Kakhetian
                                    cuisines.
                                    <br>
                                    <br>
                                    While meat plays an important part in Georgian cuisine, very
                                    close attention is also paid to the locally produced vegetables,
                                    fruit and greens. Traditional dishes made of their accurate
                                    combination first attract you, then astonish you and eventually
                                    it all ends with gastronomic shock.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="photo">
                            <img src="assets/img/about-georgia/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="traditions-section">
    <div class="bg-element"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="title-md">Get known to georgian traditions</h2>
                <div class="d-flex justify-content-lg-end">
                    <div class="photo">
                        <img src="assets/img/about-georgia/wine.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="description">
                    <span class="slider-index number-sm">02</span>
                    <h2 class="title-sm">Wine</h2>
                    <div class="text">
                        <p>Hectares of vineyards, Rtveli (Georgian harvesting) accompanied
                            with polyphonic singing and clay vessels (Kvevri) full of wine –
                            this is Georgia. Wine is everything here - everyone loves it. Every
                            family will treat you with their own wine with great pleasure and pride.
                            Vineyard is a sacred place for Georgians and winemaking – our beloved
                            tradition. Country with population around 3.5 million, yearly produces
                            approximately 150 million liters of wine.
                            Georgia has 8000 years of unbroken tradition of winemaking, which is
                            proved by multiple archeological excavations and historical facts.
                            The modern world recognized Georgia as the homeland of wine. According
                            to one version, English word - wine derived from Georgian “ghvino”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="slider-section _bottom">
    <div class="bg-element"></div>
    <div class="slider-controls-container">
        <div class="container">
            <div class="row justify-content-lg-start">
                <div class="col-lg-5">
                    <div class="slider-controls">
                        <div class="d-flex align-items-center">
                            <div class="navContainer" data-target="#aboutBottSlider">
                                <a href="#!" class="slider-nav lArrow">
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                                <a href="#!" class="slider-nav rArrow">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" data-target="#aboutBottSlider"></div>
                            </div>
                        </div>
                        <div class="dotsContainer" data-target="#aboutBottSlider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="aboutBottSlider" class="owl-carousel owl-theme">
        <div class="item">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-12 col-lg-6">
                        <div class="describtion">
                            <span class="slider-index number-sm">03</span>
                            <h2 class="title-sm">Geography</h2>
                            <div class="text pb-5">
                                <p>
                                    Georgia is a small country situated on the
                                    crossroad of Europe and Asia. From the south-east
                                    it has a border with Azerbaijan, from the south –
                                    with Armenia and Turkey, from the north - with
                                    Russia. The western part of Georgia is washed by
                                    the Black Sea. Tbilisi is a capital of Georgia
                                    founded in the fifth century.
                                    <br>
                                    <br>
                                    Population of the country with total area of 69 700
                                    square kilometers is 3 720 000 people. It is amazing
                                    but on this small land there are 26060 rivers and over
                                    40 protected areas. That is why the vast part of the
                                    country is occupied by untouched nature.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="photo">
                            <img src="https://picsum.photos/500/500" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Want to explore Georgia?</h2>
        <a href="#!">explore more<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
