---
layout: custom-navigation
title: Georgia Travel - Destinations
---
<div class="header-banner">
    <img src="assets/img/destinations/bagrati.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">Katskhi Pillar Tour Near Imereti</h1>
    </div>
</div>
<section class="slider-section about mb-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="title-md">About Bagrati Cathedral</h2>
                <div class="text mt-4">
                    <p>The 10th century Bagrati cathedral stands on a hill
                        in the city of Kutaisi, providing incredible views on
                        the city and its surroundings. It is one of the most
                        remarkable monuments in Georgian Architecture.
                        <br>
                        <br>
                        Named after Bagrat III, the first king of united Georgia,
                        the construction of the Bagrati Cathedral started at the
                        end of the 10th century and was completed in the early years
                        of the 11th century. It is interesting to know that the
                        cathedral was built on the remains of earlier structures.
                        It used to be surrounded by a stone fence, inside which
                        there were residential buildings and a stone bell-tower.
                        The cathedral stood intact till the end of the 17th century,
                        when it was destroyed by the Ottoman invaders in 1961.
                        The Cathedral has been reconstructed after that. Reconstruction
                        works took more than fifty years, starting in the 1950s and
                        completed in 2012. Archeological excavations were conducted
                        and some old artefacts and ruins of old buildings have been
                        discovered.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="photo-slider">
                    <div class="social-box">
                        <a href="#!"><i class="fab fa-facebook"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!" class="addToFav">
                            <i class="far fa-heart"></i>
                            <span class="text-sm ml-2">Add to favorites</span>
                        </a>
                    </div>
                    <div id="aboutTopSlider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/300/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/200/300" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-controls-container">
                        <div class="slider-controls">
                            <div class="d-flex align-items-center">
                                <div class="navContainer" data-target="#aboutTopSlider">
                                    <a href="#!" class="slider-nav lArrow">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </a>
                                    <a href="#!" class="slider-nav rArrow">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" data-target="#aboutTopSlider"></div>
                                </div>
                            </div>
                            <div class="dotsContainer" data-target="#aboutTopSlider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="experiences-section custom-navtabs">
    <div class="container">
        <h4 class="title-md">Experiences<br>In Imereti</h4>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="wineFood-tab" data-toggle="tab" href="#wineFood" role="tab" aria-controls="wineFood" aria-selected="true">
                    <span>01</span>
                    <p>Wine and food</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="natureAdventure-tab" data-toggle="tab" href="#natureAdventure" role="tab" aria-controls="natureAdventure" aria-selected="false">
                    <span>02</span>
                    <p>Nature And Adventure</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="culturalHeritage-tab" data-toggle="tab" href="#culturalHeritage" role="tab" aria-controls="culturalHeritage" aria-selected="false">
                    <span>03</span>
                    <p>Cultural Heritage</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="healthWellness-tab" data-toggle="tab" href="#healthWellness" role="tab" aria-controls="healthWellness" aria-selected="false">
                    <span>04</span>
                    <p>Health And Wellness</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="wineFood" role="tabpanel" aria-labelledby="wineFood-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider1">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider1"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="natureAdventure" role="tabpanel" aria-labelledby="natureAdventure-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider2">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider2"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider2" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="culturalHeritage" role="tabpanel" aria-labelledby="culturalHeritage-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider3">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider3"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider3" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="healthWellness" role="tabpanel" aria-labelledby="healthWellness-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider4">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider4"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider4" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="box-slider-section">
    <div class="title-section container d-flex align-items-lg-end justify-content-between custom-navtabs">
        <h2 class="title-md mb-0">Places Around<br>Sight</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="toursAround-tab" data-toggle="tab" href="#toursAround" role="tab" aria-controls="toursAround" aria-selected="false">
                    <span>01</span>
                    <p>Tours<br>Around</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="PlacesToStay-tab" data-toggle="tab" href="#PlacesToStay" role="tab" aria-controls="PlacesToStay" aria-selected="false">
                    <span>02</span>
                    <p>Places<br>To stay</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content pt-0">
        <div class="tab-pane fade active show" id="toursAround" role="tabpanel" aria-labelledby="toursAround-tab">
            <div class="box-slider">
                <div class="slider-nav rArrow" data-target="#placesAroundSlider">
                    <i class="fal fa-long-arrow-right"></i>
                </div>
                <div class="container">
                    <div class="slider-wrapper">
                        <div id="placesAroundSlider" class="owl-carousel owl-theme">
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="PlacesToStay" role="tabpanel" aria-labelledby="PlacesToStay-tab">
            <div class="box-slider">
                <div class="slider-nav rArrow" data-target="#placesToStaySlider">
                    <i class="fal fa-long-arrow-right"></i>
                </div>
                <div class="container">
                    <div class="slider-wrapper">
                        <div id="placesToStaySlider" class="owl-carousel owl-theme">
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                            <item>
                                <a href="#!" class="info-box">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                    <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                                </a>
                            </item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="review-section mb-3 mt-2">
    <div class="box-slider-section">
        <div class="container title-section">
            <h2 class="title-md mb-0">Reviews</h2>
        </div>
        <div class="box-slider">
            <div class="slider-nav rArrow" data-target="#reviewSlider">
                <i class="fal fa-long-arrow-right"></i>
            </div>
            <div class="container">
                <div class="slider-wrapper">
                    <div id="reviewSlider" class="owl-carousel owl-theme">
                        <item>
                            <div class="review-box">
                                <div class="autor d-flex align-items-center">
                                    <div class="avatar">
                                        <img src="assets/img/user.png" alt="">
                                    </div>
                                    <div class="details">
                                        <h4 class="title mb-0">ana kekelia</h4>
                                        <span class="date">2 days ago</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Diverse landscapes of Imereti region
                                        offer tourists beautiful places to hike
                                        and to camp in the mesmerizing nature.
                                        Lovers of outdoor activities can surely
                                        find places they enjoy. Beautiful canyons
                                        of Imereti are a great place for trekking
                                        and hiking, high above the Okatse canyon.</p>
                                </div>
                            </div>
                        </item>
                        <item>
                            <div class="review-box">
                                <div class="autor d-flex align-items-center">
                                    <div class="avatar">
                                        <img src="assets/img/user.png" alt="">
                                    </div>
                                    <div class="details">
                                        <h4 class="title mb-0">ana kekelia</h4>
                                        <span class="date">2 days ago</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Diverse</p>
                                </div>
                            </div>
                        </item>
                        <item>
                            <div class="review-box">
                                <div class="autor d-flex align-items-center">
                                    <div class="avatar">
                                        <img src="assets/img/user.png" alt="">
                                    </div>
                                    <div class="details">
                                        <h4 class="title mb-0">ana kekelia</h4>
                                        <span class="date">2 days ago</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Diverse landscapes of Imereti region
                                        offer tourists beautiful places to hike
                                        and to camp in the mesmerizing nature.</p>
                                </div>
                            </div>
                        </item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Want to explore Georgia?</h2>
        <a href="#!">explore more<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
<div class="map destination-map"  data-lng="43.289185723876926" data-lat="41.59196901623323"></div>
