---
layout: default
title: Georgia Travel - Edit password
---
<div class="profile">
    <div class="container">
        <div class="profile--title d-flex align-items-center justify-content-between">
            <h2 class="title-md mb-0">Update password</h2>
            <a href="#!" class="title-xs"><i class="fal fa-sign-out"></i> Log out</a>
        </div>
        <div class="profile--box">
            <form action="">
                <div class="row align-items-center">
                    <div class="edit-image marginer col-lg-5 d-flex align-items-center">
                       <div class="img">
                           <img src="assets/img/pass-bg.png" alt="">
                           <h2 class="t-24 mt-4">Keep your privacy <br>updated</h2>
                       </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-container">
                            <div class="_flex d-flex flex-row-reverse">
                                <input type="password" id="currentpass">
                                <label class="pass" for="currentpass">Current password</label>
                            </div>
                            <div class="_flex d-flex flex-row-reverse">
                                <input type="password" id="newpass">
                                <label class="pass" for="newpass">New password</label>
                            </div>
                            <div class="_flex d-flex flex-row-reverse">
                                <input type="password" id="repeatpass">
                                <label class="pass" for="repeatpass">Update password</label>
                            </div>
                            <div class="buttons">
                                <a href="profile.html" class="text-sm">Cancel</a>
                                <button class="redBtn title-xs">Update password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
