---
layout: default
title: Georgia Travel - Edit profile
---
<div class="profile">
    <div class="container">
        <div class="profile--title d-flex align-items-center justify-content-between">
            <h2 class="title-md mb-0">Edit profile</h2>
            <a href="#!" class="title-xs"><i class="fal fa-sign-out"></i> Log out</a>
        </div>
        <div class="profile--box">
            <form action="">
                <div class="row align-items-center">
                    <div class="edit-image marginer col-lg-5 d-flex align-items-center">
                        <div class="profile--photo">
                            <div class="photo">
                                <input id="prof-img" hidden onchange="previewImage();" name="img" accept="image/*" type="file" class="changePhoto">
                                <img id="prev-img" src="assets/img/user.png" alt="">
                            </div>
                        </div>
                        <div class="profile--name">
                            <h3 class="title-sm mb-0">Anano kekelia</h3>
                            <p class="text-xs mb-0">a.kekelia@gnta.ge</p>
                        </div>
                        <div class="edit-buttons">
                            <a href="#!" class="title-xs mr-3" id="upload-btn">Upload new photo</a>
                            <a href="#!" class="title-xs" id="remove-btn">Remove photo</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-container">
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="firstname" class="danger">
                            <label for="firstname">Name</label>
                            <span class="input-message danger">
                                    <i class="fas fa-times-circle"></i>
                                    negative message
                                </span>
                        </div>
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="lastname" class="success">
                            <label for="lastname">Surname</label>
                            <span class="input-message success">
                                    <i class="fas fa-check-circle"></i>
                                    positive message
                                </span>
                        </div>
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="email">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="mobile">
                            <label for="mobile">Mobile</label>
                        </div>
                        <div class="buttons">
                            <a href="profile.html" class="text-sm">Cancel</a>
                            <button class="redBtn title-xs">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
