---
layout: without-navigation
title: Georgia Travel - Pasword recovery
---
<div class="login-container">
    <div class="container">
        <div class="row _row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="form-container">
                    <div class="georgia-img">
                        <a href="index.html">
                            <img src="assets/img/georgia-logo.png" class="left" alt="">
                            <img src="assets/img/logo.svg" class="small" alt="">
                        </a>
                    </div>
                    <div class="text-center">
                        <h1 class="title-md">We sent you e-mail</h1>
                        <p class="additional-login text-sm t-grey">Check your email and follow the instructions.
                        </p>
                    </div>
                    <div class="_form-container">
                        <div class="buttons">
                            <a href="index.html" class="redBtn grnBtn title-xs w-100">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-img"></div>
        </div>
    </div>
</div>
