---
layout: custom-navigation
title: Georgia Travel - Experiences Inside
---
<div class="header-banner">
    <img src="assets/img/experiences/inside.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">Hiking</h1>
    </div>
</div>
<section class="slider-section about pb-lg-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <span class="slider-index number-sm">01</span>
                <h2 class="title-sm">About experience</h2>
                <div class="text mt-4">
                    <p>The 10th century Bagrati cathedral stands on a hill
                        in the city of Kutaisi, providing incredible views on
                        the city and its surroundings. It is one of the most
                        remarkable monuments in Georgian Architecture.
                        <br>
                        <br>
                        Named after Bagrat III, the first king of united Georgia,
                        the construction of the Bagrati Cathedral started at the
                        end of the 10th century and was completed in the early years
                        of the 11th century. It is interesting to know that the
                        cathedral was built on the remains of earlier structures.
                        It used to be surrounded by a stone fence, inside which
                        there were residential buildings and a stone bell-tower.
                        The cathedral stood intact till the end of the 17th century,
                        when it was destroyed by the Ottoman invaders in 1961.
                        The Cathedral has been reconstructed after that. Reconstruction
                        works took more than fifty years, starting in the 1950s and
                        completed in 2012. Archeological excavations were conducted
                        and some old artefacts and ruins of old buildings have been
                        discovered.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="photo-slider">
                    <div class="social-box">
                        <a href="#!"><i class="fab fa-facebook"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!" class="addToFav">
                            <i class="far fa-heart"></i>
                            <span class="text-sm ml-2">Add to favorites</span>
                        </a>
                    </div>
                    <div id="aboutTopSlider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/300/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/200/300" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-controls-container">
                        <div class="slider-controls">
                            <div class="d-flex align-items-center">
                                <div class="navContainer" data-target="#aboutTopSlider">
                                    <a href="#!" class="slider-nav lArrow">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </a>
                                    <a href="#!" class="slider-nav rArrow">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" data-target="#aboutTopSlider"></div>
                                </div>
                            </div>
                            <div class="dotsContainer" data-target="#aboutTopSlider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map-section pt-lg-5 pb-4">
    <div class="bg-element">
        <h2 class="title-md">Check the place, where<br> you will hike!</h2>
        <div class="photo">
            <img src="https://picsum.photos/400/300" alt="">
        </div>
    </div>
    <div class="container">
        <div class="map experiences-map" data-lng="43.289185723876926" data-lat="41.59196901623323"></div>
    </div>
</div>
<div class="box-slider-section pt-5">
    <div class="title-section container d-flex align-items-lg-end justify-content-between custom-navtabs">
        <h2 class="title-md mb-0">Other<br>Experiences</h2>
    </div>
    <div class="box-slider">
        <div class="slider-nav rArrow" data-target="#placesAroundSlider">
            <i class="fal fa-long-arrow-right"></i>
        </div>
        <div class="container">
            <div class="slider-wrapper">
                <div id="placesAroundSlider" class="owl-carousel owl-theme">
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Want to explore Georgia?</h2>
        <a href="#!">explore more<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
