---
layout: custom-navigation
title: Georgia Travel - Experiences
---
<div class="header-banner">
    <img src="assets/img/experiences/experiences.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">Experiences</h1>
    </div>
</div>
<div class="box-slider-section pt-5">
    <div class="title-section container d-flex align-items-lg-end justify-content-between custom-navtabs">
        <h2 class="title-md mb-0">Popular<br>Experiences</h2>
    </div>
    <div class="box-slider">
        <div class="slider-nav rArrow" data-target="#placesAroundSlider">
            <i class="fal fa-long-arrow-right"></i>
        </div>
        <div class="container">
            <div class="slider-wrapper">
                <div id="placesAroundSlider" class="owl-carousel owl-theme">
                    <item>
                        <a href="experiencesInside.html" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="experiencesInside.html" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="experiencesInside.html" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="experiences-section custom-navtabs pb-0">
    <div class="container">
        <h4 class="title-md">Experience</h4>
        <div class="ex_wrapper">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="wineFood-tab" data-toggle="tab" href="#wineFood" role="tab" aria-controls="wineFood" aria-selected="true">
                        <span>01</span>
                        <p>Wine and food</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="natureAdventure-tab" data-toggle="tab" href="#natureAdventure" role="tab" aria-controls="natureAdventure" aria-selected="false">
                        <span>02</span>
                        <p>Nature And Adventure</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="culturalHeritage-tab" data-toggle="tab" href="#culturalHeritage" role="tab" aria-controls="culturalHeritage" aria-selected="false">
                        <span>03</span>
                        <p>Cultural Heritage</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="healthWellness-tab" data-toggle="tab" href="#healthWellness" role="tab" aria-controls="healthWellness" aria-selected="false">
                        <span>04</span>
                        <p>Health And Wellness</p>
                    </a>
                </li>
            </ul>
            <div class="sortBtn custom">
            <div class="sort_label sort_placeholder">Choose season <i class="fa fa-chevron-down"></i></div>
            <ul class="sort_list">
                <li><a href="#!">Choose season</a></li>
                <li><a href="#!">Spring</a></li>
                <li><a href="#!">Summer</a></li>
                <li><a href="#!">Autumn</a></li>
                <li><a href="#!">Winter</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="wineFood" role="tabpanel" aria-labelledby="wineFood-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider1">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider1"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="natureAdventure" role="tabpanel" aria-labelledby="natureAdventure-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider2">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider2"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider2" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="culturalHeritage" role="tabpanel" aria-labelledby="culturalHeritage-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider3">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider3"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider3" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="healthWellness" role="tabpanel" aria-labelledby="healthWellness-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider4">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider4"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider4" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <div class="social-box">
                                            <a href="#!" class="addToFav">
                                                <i class="far fa-heart"></i>
                                                <span class="text-sm ml-2">Add to favorites</span>
                                            </a>
                                        </div>
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                            <div class="explore-more p-0">
                                                <a href="experiencesInside.html">explore experience<i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="map-section">
    <div class="bg-element">
        <h2 class="title-md">Explore Kakheti<br>on the map</h2>
        <div class="photo">
            <img src="https://picsum.photos/400/300" alt="">
        </div>
    </div>
    <div class="container">
        <div class="map experiences-map" data-lng="45.289185723876926" data-lat="42.59196901623323"></div>
    </div>
</div>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Maybe, some tours?</h2>
        <a href="#!">explore tours<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
