---
layout: without-navigation
title: Georgia Travel - Pasword recovery
---
<div class="login-container">
    <div class="container">
        <div class="row _row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="form-container">
                    <div class="georgia-img">
                        <a href="index.html">
                            <img src="assets/img/georgia-logo.png" class="left" alt="">
                            <img src="assets/img/logo.svg" class="small" alt="">
                        </a>
                    </div>
                    <div class="text-center">
                        <h1 class="title-md">Forgot password?</h1>
                        <p class="additional-login text-sm t-grey">Don't worry, just enter the email address you registered with<br>
                            and we will send you a link to reset your password.
                        </p>
                    </div>
                    <div class="_form-container">
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="buttons">
                            <button class="redBtn grnBtn title-xs w-100">Send password reset link</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-img"></div>
        </div>
    </div>
</div>
