---
layout: default
title: Georgia Travel - Home
---
<div class="top-section">
    <div class="container">
        <h1 class="title-lg">Explore <span>Kakheti</span></h1>
    </div>
</div>
<section class="slider-section">
    <div class="slider-controls-container">
        <div class="container">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <div class="slider-controls">
                        <div class="d-flex align-items-center">
                            <div class="navContainer" data-target="#mainCarousel">
                                <a href="#!" class="slider-nav lArrow">
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                                <a href="#!" class="slider-nav rArrow">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" data-target="#mainCarousel"></div>
                            </div>
                        </div>
                        <div class="dotsContainer" data-target="#mainCarousel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainCarousel" class="owl-carousel owl-theme">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="photo">
                            <img src="assets/img/landing-page/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="describtion">
                            <span class="slider-index number-sm">01</span>
                            <h2 class="title-sm">About Kakheti</h2>
                            <div class="text pb-5">
                                <p>Imereti is a rich, diverse and beautiful region located in Western Georgia. While traveling in the area, you will explore richness and mystery of one of the most historically important part of Georgia.
                                    Kutaisi is the biggest city in Imereti, it’s also among Europe’s oldest capitals, but nowadays modernized and vibrant, historically attractive as well. There’s so much to check out, like UNESCO World Heritage site of Gelati Monastery, restored, medieval Bagrati Cathedral or the breath-taking Katskhi Pillar a natural limestone monolith, discovering the
                                    archaeological settlement of Vani or the ancient traces of human civilization and dinosaurs footprints in Sataplia Natural Reserve.
                                    All this accompanied with mesmerizing legends, exceptional humor and of course world known Georgian hospitality, which can’t be ever considered </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="photo">
                            <img src="assets/img/landing-page/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="describtion">
                            <span class="slider-index number-sm">01</span>
                            <h2 class="title-sm">About Kakheti</h2>
                            <div class="text pb-5">
                                <p>Imereti is a rich, diverse and beautiful region located in Western Georgia. While traveling in the area, you will explore richness and mystery of one of the most historically important part of Georgia.
                                    Kutaisi is the biggest city in Imereti, it’s also among Europe’s oldest capitals, but nowadays modernized and vibrant, historically attractive as well. There’s so much to check out, like UNESCO World Heritage site of Gelati Monastery, restored, medieval Bagrati Cathedral or the breath-taking Katskhi Pillar a natural limestone monolith, discovering the
                                    archaeological settlement of Vani or the ancient traces of human civilization and dinosaurs footprints in Sataplia Natural Reserve.
                                    All this accompanied with mesmerizing legends, exceptional humor and of course world known Georgian hospitality, which can’t be ever considered </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="experiences-section custom-navtabs">
    <div class="container">
        <h4 class="title-md">Popular<br>Experiences</h4>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="wineFood-tab" data-toggle="tab" href="#wineFood" role="tab" aria-controls="wineFood" aria-selected="true">
                    <span>01</span>
                    <p>Wine and food</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="natureAdventure-tab" data-toggle="tab" href="#natureAdventure" role="tab" aria-controls="natureAdventure" aria-selected="false">
                    <span>02</span>
                    <p>Nature And Adventure</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="culturalHeritage-tab" data-toggle="tab" href="#culturalHeritage" role="tab" aria-controls="culturalHeritage" aria-selected="false">
                    <span>03</span>
                    <p>Cultural Heritage</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="healthWellness-tab" data-toggle="tab" href="#healthWellness" role="tab" aria-controls="healthWellness" aria-selected="false">
                    <span>04</span>
                    <p>Health And Wellness</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="wineFood" role="tabpanel" aria-labelledby="wineFood-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider1">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider1"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="natureAdventure" role="tabpanel" aria-labelledby="natureAdventure-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider2">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider2"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider2" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="culturalHeritage" role="tabpanel" aria-labelledby="culturalHeritage-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider3">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider3"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider3" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="healthWellness" role="tabpanel" aria-labelledby="healthWellness-tab">
            <section class="slider-section">
                <div class="slider-controls-container">
                    <div class="container">
                        <div class="row justify-content-lg-end">
                            <div class="col-lg-6">
                                <div class="slider-controls">
                                    <div class="d-flex align-items-center">
                                        <div class="navContainer" data-target="#popularSlider4">
                                            <a href="#!" class="slider-nav lArrow">
                                                <i class="fal fa-long-arrow-left"></i>
                                            </a>
                                            <a href="#!" class="slider-nav rArrow">
                                                <i class="fal fa-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" data-target="#popularSlider4"></div>
                                        </div>
                                    </div>
                                    <div class="dotsContainer" data-target="#popularSlider4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularSlider4" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/300/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="photo">
                                        <img src="https://picsum.photos/400/300" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="describtion">
                                        <span class="slider-index number-sm">01</span>
                                        <h2 class="title-sm">Rafting,Hiking & Trekking</h2>
                                        <div class="text pb-5">
                                            <p>Fast flowing, wild mountain rivers of Georgia is
                                                a great place for lovers of extreme sports who
                                                are brave enough to experience white water rafting
                                                themselves. Georgia has 5 difficulty levels of rafting
                                                routes starting from simple and ending with very dangerous
                                                routes.
                                                <br>
                                                <br>
                                                Diverse landscapes of Imereti region offer
                                                tourists beautiful places to hike and to camp in
                                                the mesmerizing nature. Lovers of outdoor activities can
                                                surely find places they enjoy.Beautiful canyons of Imereti
                                                are a great place for trekking and hiking, high above the Okatse
                                                canyon.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="places-to-visit">
    <div class="row m-0 align-items-center">
        <div class="col-lg-6 p-0">
            <div class="places-bg">
                <img src="assets/img/places.jpg" alt="">
                <img src="assets/img/cuot.png" alt="">
                <img src="assets/img/user.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="places-slider">
                <div class="slider-controls-container _w">
                    <div class="slider-controls">
                        <div class="d-flex align-items-center">
                            <div class="navContainer" data-target="#placesSlider">
                                <a href="#!" class="slider-nav lArrow">
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                                <a href="#!" class="slider-nav rArrow">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" data-target="#placesSlider"></div>
                            </div>
                        </div>
                        <div class="dotsContainer" data-target="#placesSlider">
                        </div>
                    </div>
                </div>
                <div id="placesSlider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="describtion">
                            <h2 class="title-md">The places
                                you should visit</h2>
                            <span class="number-sm mb-4 mt-3">03 – 08  | SAIRME HEALTH RESORT</span>
                            <div class="text-sm">
                                <p>
                                    Health resort Sairme is located in the mountainous
                                    subtropical zone, 950 meters above sea level, south of Kutaisi.
                                    Sairme is a unique destination with healing springs, beautiful
                                    nature and ecologically clean environment. It is the only resort
                                    where 6 different springs with medical properties are found and 64
                                    different diseases can be cured.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="describtion">
                            <h2 class="title-md">The places
                                you should visit</h2>
                            <span class="number-sm mb-4 mt-3">03 – 08  | SAIRME HEALTH RESORT</span>
                            <div class="text-sm">
                                <p>
                                    Health resort Sairme is located in the mountainous
                                    subtropical zone, 950 meters above sea level, south of Kutaisi.
                                    Sairme is a unique destination with healing springs, beautiful
                                    nature and ecologically clean environment. It is the only resort
                                    where 6 different springs with medical properties are found and 64
                                    different diseases can be cured.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="describtion">
                            <h2 class="title-md">The places
                                you should visit</h2>
                            <span class="number-sm mb-4 mt-3">03 – 08  | SAIRME HEALTH RESORT</span>
                            <div class="text-sm">
                                <p>
                                    Health resort Sairme is located in the mountainous
                                    subtropical zone, 950 meters above sea level, south of Kutaisi.
                                    Sairme is a unique destination with healing springs, beautiful
                                    nature and ecologically clean environment. It is the only resort
                                    where 6 different springs with medical properties are found and 64
                                    different diseases can be cured.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="places-to-visit stories gr-bg">
    <div class="row m-0 align-items-center">
        <div class="col-lg-6 d-flex justify-content-lg-center">
            <div class="stories-bg ml-lg-5">
                <h2 class="title-md">Our<br>Stories</h2>
                <img src="assets/img/cuot.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="places-slider">
                <div class="slider-controls-container _b">
                    <div class="slider-controls">
                        <div class="d-flex align-items-center">
                            <div class="navContainer" data-target="#storiesSlider">
                                <a href="#!" class="slider-nav lArrow">
                                    <i class="fal fa-long-arrow-left"></i>
                                </a>
                                <a href="#!" class="slider-nav rArrow">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" data-target="#storiesSlider"></div>
                            </div>
                        </div>
                        <div class="dotsContainer" data-target="#storiesSlider">
                        </div>
                    </div>
                </div>
                <div id="storiesSlider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="describtion">
                            <div class="stories-logo">
                                <img src="assets/img/natgeo.png" alt="">
                            </div>
                            <h2 class="title-sm mb-4">Georgia’s Most Beautiful Hiking Trails</h2>
                            <div class="text">
                                <p>
                                    Georgia is a paradise for hikers, with its mountains and valleys,
                                    unspoiled villages and off-the-beaten-path treks.
                                    <br>
                                    <br>
                                    Now is a wonderful moment to visit, as recent investment in the hiking
                                    infrastructure has made it easier to navigate, but the trails are still
                                    quiet and wild enough to feel at one with nature.
                                </p>
                            </div>
                            <div class="rMore">
                                <a href="stories.html" class="slider-nav">
                                    <i class="fal fa-long-arrow-down"></i>
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="explore-section custom-navtabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="title-md">Explore<br>Kakheti</h2>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="destinations-tab" data-toggle="tab" href="#destinations" role="tab" aria-controls="destinations" aria-selected="true">
                            <span>01</span>
                            <p>Destinations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sights-tab" data-toggle="tab" href="#sights" role="tab" aria-controls="sights" aria-selected="false">
                            <span>02</span>
                            <p>Sights</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="wine-tab" data-toggle="tab" href="#wine" role="tab" aria-controls="wine" aria-selected="false">
                            <span>03</span>
                            <p>Wine Road</p>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="destinations" data-scrollbar="destinations" role="tabpanel" aria-labelledby="destinations-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="44.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>VANI NAQALAQARI AND MUSEUM
                                        </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="40.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="41.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="42.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/200/300" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sights" data-scrollbar="sights" role="tabpanel" aria-labelledby="sights-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="49.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>VANI NAQALAQARI AND MUSEUM
                                        </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="44.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="42.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="48.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/200/300" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wine" data-scrollbar="wine" role="tabpanel" aria-labelledby="wine-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="45.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>VANI NAQALAQARI AND MUSEUM
                                        </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="43.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK </h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="44.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/300/200" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="favorite-box">
                                    <div class="photo">
                                        <a href="" class="viewBtn" cor-lng="47.477992125419405" cor-lat="41.918117335371015">View on map</a>
                                        <img src="https://picsum.photos/200/300" alt="">
                                    </div>
                                    <div class="link">
                                        <h4>BORJOMI-KHARAGAULI NATIONAL
                                            PARK</h4>
                                        <a href="#!">
                                            <i class="fal fa-long-arrow-right"></i>
                                            <span class="text-sm">Read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map explore-map" data-lng="43.289185723876926" data-lat="41.59196901623323"></div>
</div>
