---
layout: without-navigation
title: Georgia Travel - Login
---
<div class="login-container">
    <div class="container">
        <div class="row _row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="form-container">
                    <div class="georgia-img">
                        <a href="index.html">
                            <img src="assets/img/georgia-logo.png" class="left" alt="">
                            <img src="assets/img/logo.svg" class="small" alt="">
                        </a>
                    </div>
                    <div class="text-center">
                        <h1 class="title-md">Welcome to Georgia</h1>
                        <p class="additional-login text-sm">Don't have an account? <a href="register.html">Sign up</a></p>
                    </div>
                    <div class="_form-container">
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="text" id="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="_flex d-flex flex-row-reverse">
                            <input type="password" id="password">
                            <label for="password">Password</label>
                        </div>
                        <div class="d-flex justify-content-between text-sm mt-4">
                            <p class="login-check">
                                <input type="checkbox" id="remember">
                                <label for="remember" class="custom">Remember</label>
                            </p>
                            <a href="forgetPassword.html" class="red-link">Forget Password?</a>
                        </div>
                        <div class="buttons">
                            <button class="redBtn title-xs w-100">Log in</button>
                        </div>
                        <div class="text-center mt-4">
                            <p class="additional-login text-sm">Or, continue woth <a href="#!">Google</a> or <a href="#!">Facebook</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-img"></div>
        </div>
    </div>
</div>
