---
layout: default
title: Georgia Travel - Profile
---
<div class="profile">
    <div class="container">
        <div class="profile--title d-flex align-items-center justify-content-between">
            <h2 class="title-md mb-0">My profile</h2>
            <a href="#!" class="title-xs"><i class="fal fa-sign-out"></i> Log out</a>
        </div>
        <div class="profile--box">
            <div class="row align-items-center">
                <div class="marginer col-md-7 d-flex align-items-center">
                    <div class="profile--photo">
                        <div class="photo">
                            <img src="assets/img/user.png" alt="">
                        </div>
                    </div>
                    <div class="profile--name">
                        <h3 class="title-sm mb-0">Anano kekelia</h3>
                        <p class="text-xs mb-0">a.kekelia@gnta.ge</p>
                    </div>
                </div>
                <div class="profile--edit  text-center col-md-5 d-flex justify-content-md-end justify-content-center">
                    <div class="mr-4">
                        <a href="editProfile.html">
                            <i class="far fa-pen"></i>
                        </a>
                        <p class="title-xs mb-0">Edit profile</p>
                    </div>
                    <div>
                        <a href="editPassword.html">
                            <i class="far fa-lock-alt"></i>
                        </a>
                        <p class="title-xs mb-0">Change password</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="favorites">
            <div class="_title d-flex justify-content-lg-between align-items-center">
                <h2 class="title-md mb-0">Favorites</h2>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="region" aria-selected="true">Region</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="destination-tab" data-toggle="tab" href="#destination" role="tab" aria-controls="destination" aria-selected="false">Destination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sight-tab" data-toggle="tab" href="#sight" role="tab" aria-controls="sight" aria-selected="false">Sight</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="experiences-tab" data-toggle="tab" href="#experiences" role="tab" aria-controls="experiences" aria-selected="false">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="wineRoad-tab" data-toggle="tab" href="#wineRoad" role="tab" aria-controls="wineRoad" aria-selected="false">Wine road</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="region" role="tabpanel" aria-labelledby="region-tab">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/250/350" alt="">
                                </div>
                                <div class="link">
                                    <h4>kakheti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/220/320" alt="">
                                </div>
                                <div class="link">
                                    <h4>imereti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="destination" role="tabpanel" aria-labelledby="destination-tab">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/200/300" alt="">
                                </div>
                                <div class="link">
                                    <h4>kakheti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/200/400" alt="">
                                </div>
                                <div class="link">
                                    <h4>imereti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sight" role="tabpanel" aria-labelledby="sight-tab">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/300/300" alt="">
                                </div>
                                <div class="link">
                                    <h4>kakheti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/300/200" alt="">
                                </div>
                                <div class="link">
                                    <h4>imereti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="experiences" role="tabpanel" aria-labelledby="experiences-tab">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/200/300" alt="">
                                </div>
                                <div class="link">
                                    <h4>kakheti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/250/300" alt="">
                                </div>
                                <div class="link">
                                    <h4>imereti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="wineRoad" role="tabpanel" aria-labelledby="wineRoad-tab">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/200/300" alt="">
                                </div>
                                <div class="link">
                                    <h4>kakheti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="favorite-box">
                                <div class="photo">
                                    <img src="https://picsum.photos/100/200" alt="">
                                </div>
                                <div class="link">
                                    <h4>imereti</h4>
                                    <a href="#!">
                                        <i class="fal fa-long-arrow-right"></i>
                                        <span class="text-sm">View region</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
