---
layout: custom-navigation
title: Georgia Travel - Stories
---
<div class="header-banner">
    <img src="https://picsum.photos/400/600" alt="">
</div>
<div class="stories-section">
    <section class="slider-section stories-slider">
        <div class="slider-controls-container">
            <div class="container">
                <div class="row justify-content-lg-end">
                    <div class="col-lg-6">
                        <div class="slider-controls">
                            <div class="d-flex align-items-center">
                                <div class="navContainer" data-target="#storiesCarousel">
                                    <a href="#!" class="slider-nav lArrow">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </a>
                                    <a href="#!" class="slider-nav rArrow">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" data-target="#storiesCarousel"></div>
                                </div>
                            </div>
                            <div class="dotsContainer" data-target="#storiesCarousel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="storiesCarousel" class="owl-carousel owl-theme">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="photo">
                                <img src="https://picsum.photos/300/300" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <h2 class="title-lg">Story of Bagrati Cathedral</h2>
                            <div class="describtion">
                                <h2 class="title-sm">The World Geography
                                </h2>
                                <div class="text pb-4">
                                    <p>Imereti is a rich, diverse and beautiful region located in Western Georgia. While traveling in the area, you will explore richness and mystery of one of the most historically important part of Georgia.
                                        Kutaisi is the biggest city in Imereti, it’s also among Europe’s oldest capitals, but nowadays modernized and vibrant, historically attractive as well. There’s so much to check out, like UNESCO World Heritage site of Gelati Monastery, restored, medieval Bagrati Cathedral or the breath-taking Katskhi Pillar a natural limestone monolith, discovering the
                                        archaeological settlement of Vani or the ancient traces of human civilization and dinosaurs footprints in Sataplia Natural Reserve.
                                        All this accompanied with mesmerizing legends, exceptional humor and of course world known Georgian hospitality, which can’t be ever considered </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="photo">
                                <img src="assets/img/landing-page/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <h2 class="title-lg">asd </h2>
                            <div class="describtion">
                                <h2 class="title-sm">The World Geography
                                </h2>
                                <div class="text pb-4">
                                    <p>Imereti is a rich, diverse and beautiful region located in Western Georgia. While traveling in the area, you will explore richness and mystery of one of the most historically important part of Georgia.
                                        Kutaisi is the biggest city in Imereti, it’s also among Europe’s oldest capitals, but nowadays modernized and vibrant, historically attractive as well. There’s so much to check out, like UNESCO World Heritage site of Gelati Monastery, restored, medieval Bagrati Cathedral or the breath-taking Katskhi Pillar a natural limestone monolith, discovering the
                                        archaeological settlement of Vani or the ancient traces of human civilization and dinosaurs footprints in Sataplia Natural Reserve.
                                        All this accompanied with mesmerizing legends, exceptional humor and of course world known Georgian hospitality, which can’t be ever considered </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
