---
layout: custom-navigation
title: Georgia Travel - Tours
---
<div class="header-banner">
    <img src="assets/img/tours/tours.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">Recommended Tours</h1>
    </div>
</div>
<div class="tours-section">
    <div class="container">
        <div class="tours-sort">
            <div class="sortBtn custom">
                <div class="sort_label sort_placeholder">Sort By Days<i class="fa fa-chevron-down"></i></div>
                <ul class="sort_list">
                    <li><a href="#!">Sort By Days</a></li>
                    <li><a href="#!">01 day tour</a></li>
                    <li><a href="#!">02 days tour</a></li>
                    <li><a href="#!">03 days tour</a></li>
                    <li><a href="#!">04 days tour</a></li>
                </ul>
            </div>
            <div class="sortBtn custom">
                <div class="sort_label sort_placeholder">Sort By Season<i class="fa fa-chevron-down"></i></div>
                <ul class="sort_list">
                    <li><a href="#!">Sort By Season</a></li>
                    <li><a href="#!">Spring</a></li>
                    <li><a href="#!">Summer</a></li>
                    <li><a href="#!">Autumn</a></li>
                    <li><a href="#!">Winter</a></li>
                </ul>
            </div>
            <div class="sortBtn custom">
                <div class="sort_label sort_placeholder">Sort By Region<i class="fa fa-chevron-down"></i></div>
                <ul class="sort_list">
                    <li><a href="#!">Sort By Region</a></li>
                    <li><a href="#!">Kakheti</a></li>
                    <li><a href="#!">Imereti</a></li>
                    <li><a href="#!">Guria</a></li>
                    <li><a href="#!">Samegrelo</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="tour-box">
                    <div class="photo">
                        <img src="https://picsum.photos/300/200" alt="">
                    </div>
                    <a href="toursInside.html" class="tour-details">
                        <div class="days">5 days tour</div>
                        <div class="title-sm">Kutaisi tour in caves with horse</div>
                        <div class="transport">
                            <div class="f-flex align-items-center">
                                <i class="far fa-car-side"></i>
                                <span class="main">Main Transportation</span>
                            </div>
                            <div class="f-flex align-items-center">
                                <i class="far fa-shuttle-van"></i>
                                <span class="additional">Cas, Bus</span>
                            </div>
                        </div>
                    </a>
                    <div class="read">
                        <a href="toursInside.html" class="slider-nav">
                            <i class="fal fa-long-arrow-right mr-3"></i>
                            <span class="text-sm">Read more</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tour-box">
                    <div class="photo">
                        <img src="https://picsum.photos/300/200" alt="">
                    </div>
                    <a href="toursInside.html" class="tour-details">
                        <div class="days">5 days tour</div>
                        <div class="title-sm">Kutaisi tour in caves with horse</div>
                        <div class="transport">
                            <div class="f-flex align-items-center">
                                <i class="far fa-car-side"></i>
                                <span class="main">Main Transportation</span>
                            </div>
                            <div class="f-flex align-items-center">
                                <i class="far fa-shuttle-van"></i>
                                <span class="additional">Cas, Bus</span>
                            </div>
                        </div>
                    </a>
                    <div class="read">
                        <a href="toursInside.html" class="slider-nav">
                            <i class="fal fa-long-arrow-right mr-3"></i>
                            <span class="text-sm">Read more</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tour-box">
                    <div class="photo">
                        <img src="https://picsum.photos/300/200" alt="">
                    </div>
                    <a href="toursInside.html" class="tour-details">
                        <div class="days">5 days tour</div>
                        <div class="title-sm">Kutaisi tour in caves with horse</div>
                        <div class="transport">
                            <div class="f-flex align-items-center">
                                <i class="far fa-car-side"></i>
                                <span class="main">Main Transportation</span>
                            </div>
                            <div class="f-flex align-items-center">
                                <i class="far fa-shuttle-van"></i>
                                <span class="additional">Cas, Bus</span>
                            </div>
                        </div>
                    </a>
                    <div class="read">
                        <a href="toursInside.html" class="slider-nav">
                            <i class="fal fa-long-arrow-right mr-3"></i>
                            <span class="text-sm">Read more</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tour-box">
                    <div class="photo">
                        <img src="https://picsum.photos/300/200" alt="">
                    </div>
                    <a href="toursInside.html" class="tour-details">
                        <div class="days">5 days tour</div>
                        <div class="title-sm">Kutaisi tour in caves with horse</div>
                        <div class="transport">
                            <div class="f-flex align-items-center">
                                <i class="far fa-car-side"></i>
                                <span class="main">Main Transportation</span>
                            </div>
                            <div class="f-flex align-items-center">
                                <i class="far fa-shuttle-van"></i>
                                <span class="additional">Cas, Bus</span>
                            </div>
                        </div>
                    </a>
                    <div class="read">
                        <a href="toursInside.html" class="slider-nav">
                            <i class="fal fa-long-arrow-right mr-3"></i>
                            <span class="text-sm">Read more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Want to explore Georgia?</h2>
        <a href="#!">explore more<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
