---
layout: custom-navigation
title: Georgia Travel - Tours Inside
---
<div class="header-banner">
    <img src="assets/img/tours/inside.jpg" alt="">
    <div class="container">
        <h1 class="title-lg text-white">Katskhi Pillar Tour Near Imereti</h1>
    </div>
</div>
<section class="slider-section about pb-lg-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <span class="slider-index number-sm">01</span>
                <h2 class="title-sm">Tour information</h2>
                <div class="text mt-4">
                    <p>The Katskhi pillar is a natural limestone
                        monolith located at the village of Katskhi
                        in western Georgian region of Imereti, near
                        the town of Chiatura. It is approximately 40
                        metres (130 ft) high, and overlooks the small
                        river valley of Katskhura, a right affluent
                        of the Q'virila. The rock, with visible church
                        ruins on its top surface of around 150 sq m
                        (1,600 sq ft), has been venerated by locals as
                        the Pillar of Life. It remained unclimbed by
                        researchers and unsurveyed until 1944 and was
                        more systematically studied from 1999 to 2009.
                        These studies revealed the early medieval
                        hermitage, dating from the 9th or 10th century,
                        Religious activity started to revive in 1995,
                        with the arrival of the monk maxim.
                        a native of Chiatura. Between 2005 and 2009,
                        the monastery building on the top of the pillar
                        was restored with the support of the National
                        Agency for Cultural. Heritage Preservation of
                        Georgia. The rock is now accessible through an
                        iron ladder running from its base to the top.</p>
                    <div class="tour-details-inner d-flex">
                        <div class="d-flex align-items-center">
                            <i class="far fa-calendar-alt"></i>
                            <div class="text-sm">
                                <div>Tour Days</div>
                                <b>5</b>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="far fa-car-side"></i>
                            <div class="text-sm">
                                <div>Main Transportation</div>
                                <b>Car only</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="photo-slider">
                    <div class="social-box">
                        <a href="#!"><i class="fab fa-facebook"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!" class="addToFav">
                            <i class="far fa-heart"></i>
                            <span class="text-sm ml-2">Add to favorites</span>
                        </a>
                    </div>
                    <div id="aboutTopSlider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/300/300" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo">
                                <img src="https://picsum.photos/200/300" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-controls-container">
                        <div class="slider-controls">
                            <div class="d-flex align-items-center">
                                <div class="navContainer" data-target="#aboutTopSlider">
                                    <a href="#!" class="slider-nav lArrow">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </a>
                                    <a href="#!" class="slider-nav rArrow">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" data-target="#aboutTopSlider"></div>
                                </div>
                            </div>
                            <div class="dotsContainer" data-target="#aboutTopSlider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map-section pt-lg-5 pb-4">
    <div class="bg-element">
        <h2 class="title-md">Explore Katskhi Pillar<br>on the map</h2>
        <div class="photo">
            <img src="https://picsum.photos/400/300" alt="">
        </div>
    </div>
    <div class="container">
        <div class="map experiences-map" data-lng="43.289185723876926" data-lat="41.59196901623323"></div>
    </div>
</div>
<div class="box-slider-section pt-5">
    <div class="title-section container d-flex align-items-lg-end justify-content-between custom-navtabs">
        <h2 class="title-md mb-0">Other<br>Tours</h2>
    </div>
    <div class="box-slider">
        <div class="slider-nav rArrow" data-target="#placesAroundSlider">
            <i class="fal fa-long-arrow-right"></i>
        </div>
        <div class="container">
            <div class="slider-wrapper">
                <div id="placesAroundSlider" class="owl-carousel owl-theme">
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                    <item>
                        <a href="#!" class="info-box">
                            <div class="photo">
                                <img src="https://picsum.photos/400/300" alt="">
                            </div>
                            <span class="title">
                                        rafting & hiking
                                        <i class="fal fa-long-arrow-right"></i>
                                    </span>
                        </a>
                    </item>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="explore-more">
    <div class="container text-center">
        <h2 class="title-md">Want to explore Georgia?</h2>
        <a href="#!">explore more<i class="fal fa-long-arrow-right"></i></a>
    </div>
</div>
