<header class="header_area custom">
    <div class="navbar _resp">
        <div class="container">
            <a class="navbar-brand logo" href="index.html"></a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar">
            <div class="container _resp">
                <ul class="d-flex align-items-center">
                    <li class="mr-3 logo">
                        <a class="navbar-brand logo" href="index.html"></a>
                    </li>
                    <li class="nav-item active"><a class="nav-link" href="aboutGeorgia.html">About Georgia</a></li>
                    <li class="nav-item dropdown-control">
                        <a class="nav-link" href="destinations.html">Destinations</a>
                        <ul class="nav-dropdown">
                            <li><a href="#!" class="active">Kakheti</a></li>
                            <li><a href="#!">Imereti</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="experiences.html">Experiences</a></li>
                    <li class="nav-item"><a class="nav-link" href="tours.html">Tours</a></li>
                </ul>
                <ul class="right-nav d-flex align-items-center">
                    <li>
                        <div class="sortBtn" data-target="link">
                            <div class="sort_label sort_placeholder usr">Your space <i class="fa fa-chevron-down"></i></div>
                            <ul class="sort_list">
                                <li><a href="profile.html">My profile</a></li>
                                <li><a href="profile.html">Favorites</a></li>
                                <li><a href="login.html">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="sortBtn langBtn" data-target="link">
                            <div class="sort_label sort_placeholder">
                                <i class="fa fa-globe-europe"></i>
                                Change region
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="sort_list">
                                <li><a href="#!">Georgia</a></li>
                                <li><a href="#!">Europe</a></li>
                                <li><a href="#!">USA</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
