<footer class="footer">
    <div class="container">
        <div class="d-flex left">
            <a href="index.html" class="navbar-brand logo"></a>
            <ul class="d-flex links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="destinations.html">Destination</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="d-flex socials">
                <li><a href="#!"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
