{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/scrollbar/scrollbar.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
{{>navigation}}
{{> body}}
{{>footer}}
<script src="assets/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="assets/vendors/scrollbar/scrollbar.min.js"></script>
<script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script>
<script>
	$(function () {
		navbarScroll();
		hamburgerMenu();
		setCarousels();
		sortDropdown();
		photoUploader();
		setScrollBars();
		addToFav();
		extendMaps();
	 placesImgGallery();
	});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfx_VISzjubKfXCaS_TA1i8hLdK7i7Us&callback=initMap"></script>
</body>
</html>
